html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
#main-header {
  text-align: center;
  margin: 6rem;
  margin-bottom: 10rem;
  font-size: 10rem;
  color: black;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
}

.item {
  border: solid black;
  border-radius: 25px;
  width: 30%;
  margin-bottom: 5rem;
  font-size: 4rem;
  height: 44rem;
  margin-top: 2rem;
}
img {
  width: 30rem;
  height: 38rem;
  object-fit: fill;
  padding-top: 1.5rem;
}
body {
  background-color: #cac5bf;
  font-family: "Lobster", cursive;
}
.item:hover {
  box-shadow: 1rem 1rem 1rem black;
  text-decoration: underline;
}
#main-header: hover;
