html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
#main-header {
  text-align: center;
  margin: 6rem;
  margin-bottom: 10rem;
  font-size: 2800%;
  color: black;
  font-weight: bold;
  gap: 5rem;
}
.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
}

.item {
  border: solid black;
  border-radius: 2rem;
  width: 27%;
  margin-bottom: 5rem;
  font-size: 4rem;
  height: 50%;
  margin-top: 3rem;
  transition: transform 0.2s;
  padding-top: 3rem;
}
img {
  width: 80%;
  height: 60%;
  object-fit: fill;
  padding-top: 1.5rem;
  border-radius: 3.5rem;
  padding-bottom: 2rem;
  padding-top: 3rem;
}
body {
  background-color: #cac5bf;
  font-family: "Lobster", cursive;
}
.item:hover {
  box-shadow: 1rem 1rem 1rem black;
  text-decoration: underline;
  background-color: #beb6b3;
  transform: scale(1.05);
}

.item-zoom {
  transition: transform 0.2s;
}
.item-zoom:hover {
  transform: scale(1.15);
}
.item-text {
  padding-top: 2.5rem;
}
#header-text:hover {
  color: #ab7d58;
}
.rotate {
  animation: rotation 4s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.item-text {
  padding-bottom: 1rem;
}
@media only screen and (max-width: 1280px) {
  body {
    background-color: rgba(216, 208, 197, 0.664);
  }
}
@media only screen and (max-width: 800px) {
  body {
    background-color: rgb(144, 137, 137);
  }
  #main-header {
    font-size: 10rem;
  }
}
@media only screen and (max-width: 600px) {
  body {
    background-color: honeydew;
  }
  .item:hover {
    background-color: ghostwhite;
  }
  .item {
    height: 20%;
    width: 80%;
  }
}
