html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
#main-header {
  text-align: center;
  margin: 6rem;
  margin-bottom: 10rem;
  font-size: 20rem;
  color: black;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
}

.item {
  border: solid black;
  border-radius: 2rem;
  width: 30%;
  margin-bottom: 5rem;
  font-size: 4rem;
  height: 50%;
  margin-top: 3rem;
  transition: transform 0.2s;
  padding-top: 3rem;
}
img {
  width: 80%;
  height: 60%;
  object-fit: fill;
  padding-top: 1.5rem;
  border-radius: 3.5rem;
  padding-bottom: 2rem;
  padding-top: 3rem;
}
body {
  background-color: #cac5bf;
  font-family: "Lobster", cursive;
}
.item:hover {
  box-shadow: 1rem 1rem 1rem black;
  text-decoration: underline;
}
.item:hover {
  box-shadow: 1rem 1rem 1rem black;
  text-decoration: underline;
  background-color: #beb6b3;
  transform: scale(1.05);
}
.zoom {
  transition: transform 0.2s;
}
.zoom:hover {
  transform: scale(1.15);
}
.text {
  padding-top: 2.5rem;
}
#name:hover {
  color: #ab7d58;
}
.rotate {
  animation: rotation 4s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.text {
  padding-bottom: 1rem;
}
